<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="row country" >

        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../../Image/offer/1.jpeg" class="img-responsive center-block" alt="" />
   
            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        
        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../../Image/offer/2.jpg" class="img-responsive center-block" alt="" />

           
            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../../Image/offer/3.jpeg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>


        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../../Image/offer/4.jpeg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../../Image/offer/5.jpeg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../../Image/offer/6.jpg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
      </div>
</body>
</html>
