<div class="jumbotron" style="margin-top:2%;">
    <h1 style="text-align:center;">TechShop Web Application</h1>
    <p class="lead">The aim of this project is on the online shopping application it is developed using HTML5, JAVA script, CSS,BootStrap, Web API, oData,MVC,  Angular JS etc. </p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center;">Main Concept Of This Application</h2>
        <p>The central concept of the application is to allow the customer to shop virtually using the Internet and allow customers to buy the items and articles of their desire from the store. 
            The information pertaining to the products are stores on an RDBMS at the server side (store).</p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;">More About This Application</h2>
        <p> The Server process the customers and the items are shipped to the address submitted by them. The application was designed into two modules first is for the customers who wish to buy the products. Second is for the storekeepers who maintains and updates the information pertaining to the products and those of the customers. 
        The end user of this product is a Admin Panel where the application is hosted on the web and the administrator maintains the database. </p>
        
    </div>
    <div class="col-md-4">
        <h2 style="text-align:center;">Why You Use This Application</h2>
        <p>The application is very useful where the buyer can directly buy the products from home via internet on mobile or system. The application reduces lot of work load for customer as well as owner. The transaction of money is completed in real time system. Shopping cart is also created for customers for total amount checking .Recent offers updates to customers via mail. . 
        By this online shopping the product is directly delivered to customer home.</p>
    </div>
</div>
